[Unit]
Description=Doctorspolis
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/java -jar .\build\libs\doctorspolis-0.0.1.jar com.doctorspolis.backend.DoctorspolisApplication
[Install]
WantedBy=multi-user.target